.App {
  text-align: center;
  height: 700px;
  width: 700px;
  display: flex;
}
.cell {
  width: 50px;
  height: 50px;
  border: 1px solid red;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

